.pad {
	box-sizing: border-box;
	width: 144px;
	height: 126px;
	padding: 8px;
	background-color: #0178a6;
	border: 8px solid #0a1823;
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.75em;
	grid-template-areas: 'label' 'type-label';
}

.pad .pad-label {
	width: 100%;
	height: 100%;
	grid-area: label;
	overflow: hidden;
	color: #fff;
	font-size: 2em;
	line-height: 1;
	text-transform: uppercase;
}

.pad .pad-type-label {
	grid-area: type-label;
	font-size: 0.75em;
	line-height: 1;
	justify-self: end;
}

.pad *::selection {
	background: transparent;
}

.pad.active {
	background-color: #44b9e6;
}
